.App {
    font-family: sans-serif;
    text-align: center;
}

h4 {
    text-align: left;
    margin-left: 40px;
}

hr {
    border-top: 2px dotted #3f51b5;
}

/* For pdf */
.react-pdf__Page {
    margin-top: 10px;
}

.react-pdf__Page__textContent {
    border: 1px solid darkgrey;
    box-shadow: 5px 5px 5px 1px #ccc;
    border-radius: 5px;
}

.react-pdf__Page__annotations.annotationLayer {
    padding: 20px;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
}